{% extends 'base.html' %}
{% load static %}


{% block title %}About{% endblock %}
   
    {% block content %} 
    <section>
        <div class="pic">
            <img class="upper-pic" src="{% static 'goheen/Images/bangladesh-tribal-1.jpg' %}" alt="failed">
            <img class="upper-pic" src="{% static 'goheen/Images/tribal2.jpg' %}" alt="failed">
    
        </div>

        </section>
        
        <section class="essay">
        <div class="box2">
            <h2 style="color: black;">Our Story</h2>
            <h3 style="color: gray;padding-top: 20px;">Goheen is one of few travel companies in Bangladesh working on the field of sustainable tourism. We empower communities with tourism. Goheen provides tour services in collaboration with the local community. You’ll get a chance to stay with the local community, experience new culture, lifestyle. With Goheen, travelers will get a chance to experience Bangladesh in a new way.</h3>

        </div>

        <div class="box2">
            <h2>Our Mission</h2>
            <h3 style="color: gray;padding-top: 20px;">Goheen Tourism Ltd. is established in 2015 with a vision to promote local travel experiences in Bangladesh. We work hand in hand with local people to promote ‘community-based tourism’ to provide travelers with an authentic and meaningful experience and to contribute to the preservation of culture and nature while bringing economic opportunities for sustainable livelihoods to local communities.</h3>

        </div>
       


    </section>



    {% endblock %}
  
   