{% extends 'base.html' %}
{% load static %}

{% block title %} contact{% endblock %}

    {% block content %} 
    <section>
        <div class="pic">
            <img class="upper-pic" src="{% static 'goheen/Images/bangladesh-tribal-1.jpg' %}" alt="failed">
            <img class="upper-pic" src="{% static 'goheen/Images/tribal2.jpg' %}" alt="failed">
          
    
        </div>

        </section>

    <section>
        <div class="contact">

        <h1>GOHEEN TOURISM LIMITED</h1>
        <h5>House: 10-E, Block: E, Banasree Main Road, Dhaka 1219

            <h5>>Call: +8801785 999 000</h5>
            
            <h5>Mail: info@goheen.org</h5>
        </div>
        



    </section>

    {% endblock %}
    

