*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
    
}

nav li{
    list-style: none;
  

   
}

/* nav>ul>li{
    
 
    
} */
.nav{
    display: flex;
    flex-wrap: wrap;
   
}


.nav1{
    height: 50px;
    line-height: 30px;

    background-color: rgb(6, 97, 6);
    
}
.nav li{
    padding-left: 40px;
    padding-top: 10px;
}

.nav1 a{
    text-decoration: none;
    color: white;
}


.nav1Right{
    padding-left: 700px;
} 

.nav2{
    height: 100px;
    /* background-color: yellow; */
    line-height: 50px;
}

.nav2 a{
    text-decoration: none;
    color: rgb(6, 97, 6);
    font-weight: bold;
}
.nav2 img{
  
    height: 50px;
    width: 100px;
 
}
.nav2 li{
    padding-left: 100px;
}






.box{
    box-shadow: 10px 10px 50px gray;
   
    border-radius: 10px;
   
    max-width: 1200px;
    width: 25%;
    height: 400px;
    padding: 20px;

    /* border-left: 7px solid ;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
    */



}

.container{

    display: flex;
    justify-content: space-evenly;
     /* background-color: yellowgreen;  */
     padding-top: 30px;
     flex-wrap: wrap;
     
     
}

.see-packages{
  
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg,salmon,tomato);

   
    
}

.box1{
    box-shadow: 10px 10px 50px gray;
   
    border-radius: 10px;
   
    max-width: 1200px;
    width: 33%;
    height: 200px;
    padding: 20px;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: top;
}





.pnum{
    font-size: 30px;
    margin: 20px;
    text-decoration: none;
    
   
    
}
.page-number{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
  
}


.pnum:hover{
    font-size: 60px;
}

 
.det{

    padding-top: 250px;
    font-size: medium;
} 

.search-bar{
    height: 50px;
    text-align: center;
  
}

input{
     font-size: x-large;
     text-align: center;
     border: 3px solid black;
     width: 1000px;
}

button{
    
    font-size: 30px;
    border: 3px solid black;
    
}

.button-container{
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
  

}

.det{
    position: relative;
    top: 40px;
    left: 40px;
}

.Linkbutton2{
 
    text-align: left;
    border: 5px solid linear-gradient(45deg,yellow,orange);
    margin: 10px 30px;
    margin-right: 1000px;
    border-radius: 5px;
    background-image: linear-gradient(45deg,yellow,orange);
    color: white;
    padding: 10px 20px; 
  

    
 

}

@media (max-width:1175px) {
    .nav1Right{
        padding-left: 200px;
    }
    .nav2 li{
        padding-left:20px ;
    }

   


   
    
}

@media (max-width:800px) {
   

    .container{
        flex-direction: column;
        padding-bottom: 60px;
    }
    .det{
        font-size: small;
        position: relative;
        top: 40px;
        left: 40px;
    }


   
    
}

@media  (max-width: 760px){

  .box{
      width: 35%;
      overflow: scroll;
  }
  .button-container{
      flex-direction: column;

  }

  
  .nav2 li{
      padding-left: 10px;
      padding-top: 0px;
      
  }
  .nav1 li{
      padding-left: 30px;
  }
  .nav1Right{
      padding-left: 30px;
  }
  
  .blog{
      margin-top: 20px;
  }


    
    



    
}

@media  (max-width: 420px){

    .box{
        width: 35%;
        overflow: scroll;
    }
    .button-container{
        flex-direction: column;
  
    }
  
    
    .nav2 li{
        padding-left: 5px;
    }
    .nav1 li{
        padding-left: 15px;
    }
    .nav1Right{
        padding-left: 15px;
    }
    
      
      
  
  
  
      
  }

  @media (max-width:970px ) {
      .Linkbutton2{
          font-size: small;
          background-color: white;
          background-image: none;
          color: black;
      }
      
  }

